# Arquivo de rede SUMO grande
input/cologne.net.xml
MD/batch.log
__pycache__/
*.pyc
validating-genetic/

# Logs e resultados de execução
output/*.log
MD/*.log
validating_genetic/*.out

# Logs e resultados de execução
output/*.log
MD/*.log
validating_genetic/*.out
